body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
    color: black;
    background-color: #FBDE12;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: #FA7C0C;
    text-decoration: none;    
}

a:visited {
    color: #FA7C0C;
    text-decoration: none;
}

a:hover, a:focus {
    color: #810104;
    text-decoration: none;
}

ul { 
    margin-left: 1em;
    line-height: 1.5; }

.clear { clear: both; }

h1 { text-align: center;
    font-size: 150%;
}

p {
    font-style: normal;
    margin-left: 1em;
}

p.limeric{
    margin-left: 1em;
    text-align: center;
    font-style: italic;
}

main, article, aside, footer {
    padding: 10px 10px;
}

nav{
    background-color: #264422;
    padding: 10px 10px;
}

header{
    text-align: left;
    background: url(header.jpg) center;
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    text-align: center;
}

.title-outer{
    float: left;
    font-size: 30px;
}

.title-inner{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #FA7C0C;
    float: left;
    padding: 10px 10px;
    font-size: 50px;
}

.title-inner-logo{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.header-inner{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-container {
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    text-align: center;
    background-color: #264422;
    display:inline-block;
}

.nav-container:hover {
    background: #5F8A04;
}

aside {
    float: right;
    border: 2px solid #FA7C0C;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aside-container {
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #264422;
    display:inline-block;
}

.aside-container:hover {
    background: #5F8A04;
}

main{
    margin: 0;
    padding: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

main img{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.main-img-right{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.main-img-free{
    width: 60%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.main-header{
    padding: 20px;
}

.main-footer{
    margin: 0;
    padding: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.main-footer img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

main p{

}


footer{
    clear: both;
}